<nav class="book-toolbar">
  <div class="sort-wrapper">
    <label for="book-sort">Sort by:</label>
    <select id="book-sort" name="sort">
      <option value="" disabled selected>Select an option</option>
      <option value="oldest">Oldest</option>
      <option value="newest">Newest</option>
      <option value="most-expensive">Most Expensive</option>
      <option value="cheapest">Cheapest</option>
    </select>
  </div>

  <input
    type="text"
    (input)="onChangeSearchInput($event)"
    placeholder="Search..."
  />
</nav>
