:host {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 28rem));
  gap: 2rem;
  padding: 0 2rem;
  align-items: stretch;
  margin: 2rem 0;
  justify-content: center;
}
