.modal-overlay {
  position: fixed;
  inset: 0;
  z-index: 2000;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: #1e1e1e;
  color: #fff;
  border-radius: 0.8rem;
  padding: 2rem;
  width: 50rem;
  max-width: 100%;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
  position: relative;
}
